body, html {
    color: #fff;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(270deg, #ff8a00, #e52e71, #9b36b7, #515ecf);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima del viewport */
}

@keyframes Gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}



h1{
    color: #fff;
    margin-top: 0;
    font-size: 10rem;
    margin-bottom: 0;
    font-weight: 500;
    align-self: flex-start; /* Alinea h3 a la izquierda dentro de main */
    text-align: left; /* Asegura que el texto dentro de h3 esté justificado a la izquierda */
}

h3{
    color: #ddd;
    margin-top: 0;
    font-weight: 100;
    font-size: 2.8rem;
    margin-bottom: 0px;
    align-self: flex-start; /* Alinea h3 a la izquierda dentro de main */
    text-align: left; /* Asegura que el texto dentro de h3 esté justificado a la izquierda */
}


main {
    color: #fff;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    flex-direction: column;
    text-align: center;
    height: 100%; /* Asegura que main ocupe toda la altura disponible */
}



header {
    display: flex; /* Habilita Flexbox */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    height: 100vh; /* Altura total de la ventana de visualización */
}

header div {
    text-align: center; /* Asegura que el texto dentro del div esté centrado */
}


main {
    flex-grow: 1; /* Permite que el main ocupe todo el espacio disponible */
    padding: 20px;
    /* Otros estilos para main */
}

footer {
    /* Estilos para el footer */
    background-color: transparent;
    text-align: center;
    padding: 20px;
}

h6 {
    font-size: 1rem;
    font-weight: 10;
}