body, html {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(270deg, #ff8a00, #e52e71, #9b36b7, #515ecf);
    background-size: 400% 400%;
    animation: Gradient 10s ease infinite;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@keyframes Gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

h1 {
    font-size: 5rem; /* Tamaño ajustado */
    font-weight: 800;
    text-align: left;
    margin-bottom: 0;
}

h2 {
    font-size: 1.5rem; /* Tamaño ajustado */
    color: #ddd;
    font-weight: 300;
    margin-left: 10px;
    text-align: left;
    margin-top: 0;
    margin-left: 2px;
}

h3 {
    font-size: 1.25rem;
    font-weight: 100;
}

a {
    color: #ff0;
    font-size: 1.25rem; /* Tamaño ajustado */
}

a:hover {
    color: #0000ff;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Altura ajustada */
}

main {
    flex-grow: 1;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 800px) {
    h1 {
        font-size: 2.7rem; /* Más pequeño para móviles */
    }
    h2 {
        font-size: 1.2rem; /* Más pequeño para móviles */
    }
    /* Otros ajustes para móviles */
}

/* Estilos para tabletas y dispositivos más grandes */
@media screen and (min-width: 801px) {
    h1 {
        font-size: 6rem; /* Más grande para tabletas */
    }
    h2 {
        font-size: 2rem; /* Más grande para tabletas */
    }
    /* Otros ajustes para tabletas */
}
